.App {
  text-align: center;
}

.Game {
  display: flex;
  /* overflow: scroll;
  max-height: calc(100vh - 280px); */
}

.StartSection {
  margin: 40px 0px 00px;
}

.InputField {
  margin: 0px 10px 0px 10px;
}

.PlayerList {
  margin: 10px;
}

.Headers {
  max-width: 300px;
  font-size: 40pt;
}

.HeaderSection {
  margin-top: 20px;
  text-align: left;
  padding-left: 20px;
  padding-right: 40px;
}

.ListSection {
  height: 65px
}

.LabelText {
  font-size: 40pt;
  margin-top: 20px;
  text-align: left;
  padding-left: 20px
}